<div class="content">
  <section class="jumbotron text-center mb-0">
    <div class="container">
      <h1 class="jumbotron-heading">About this page!</h1>
      <p class="lead text-muted">
        This page was created as a practice about Angular 5.
      </p>
      <p>Angular 5 is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and
        by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS.</p>
      <a class="btn btn-primary" href="https://angular.io/">Angular Docs</a>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-12 col-md-12">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://tctechcrunch2011.files.wordpress.com/2016/09/one_framework__-_angular_2.png" alt="Angular">
            <div class="card-body text-center">
              <h4 class="card-title">Angular 5</h4>
              <p class="card-tex text-center">Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
                dependency injection, end to end tooling, and integrated best practices to solve development challenges.
                Angular empowers developers to build applications that live on the web, mobile, or the desktop.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://www.underconsideration.com/brandnew/archives/dc_comics_2016_logo_before_after.png"
              alt="DC Comics">
            <div class="card-body">
              <h4 class="card-title">DC Comics</h4>
              <p class="card-text text-justify">DC Comics, Inc. is an American comic book publisher. It is the publishing unit of DC Entertainment, a subsidiary
                of Warner Bros. Entertainment, Inc., a division of Time Warner. DC Comics is one of the largest and oldest
                American comic book companies</p>
              <p>The initials "DC" came from the company's popular series Detective Comics, which featured Batman's debut and
                subsequently became part of the company's name.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/MarvelLogo.svg/1200px-MarvelLogo.svg.png"
              alt="Marvel">
            <div class="card-body">
              <h4 class="card-title">Marvel</h4>
              <p class="card-text text-justify">Marvel Comics is the common name and primary imprint of Marvel Worldwide Inc., formerly Marvel Publishing,
                Inc. and Marvel Comics Group, a publisher of American comic books and related media. In 2009, The Walt Disney
                Company acquired Marvel Entertainment, Marvel Worldwide's parent company. Marvel started in 1939 as Timely
                Publications, and by the early 1950s, had generally become known as Atlas Comics. Most of Marvel's fictional
                characters operate in a single reality known as the Marvel Universe, with most locations mirroring real-life
                places; many major characters are based in New York City.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
