<div class="content mt-0">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">All Superheroes!</h1>
      <p class="lead text-muted">All Superheroes are listed here. check out them, the list is big because we have DC & Marvel universes.
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex align-items-stretch" *ngFor="let hero of heroes;">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" [src]="hero.img" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">{{hero.name}}</h4>
              <p class="card-text text-justify">{{hero.description}}</p>
              <button type="button" [routerLink]="[hero.name]" class="btn btn-dark">See more...</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
