<div class="content mt-0">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">All Superheroes!</h1>
      <p class="lead text-muted">All Superheroes are listed here. check out them, the list is big because we have DC & Marvel universes.
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/batman.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Batman</h4>
              <p class="card-text text-justify">Batman is the superhero protector of Gotham City, a man dressed like a bat who fights against evil and strikes
                terror into the hearts of criminals everywhere. In his secret identity he is Bruce Wayne, billionaire industrialist
                and notorious playboy. Although he has no superhuman powers, he is one of the world's smartest men and greatest
                fighters. His physical prowess and technical ingenuity make him an incredibly dangerous opponent. He is also
                a founding member of the Justice League and the Outsiders.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/superman.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Superman</h4>
              <p class="card-text text-justify">Superman is the most powerful being on planet Earth, an alien immigrant named Kal-El from the planet Krypton
                who was raised in Smallville, Kansas, to become an American superhero. Raised with high moral ideals, he
                uses his incredible strength, speed, flight and various other superpowers to fight evil and protect the innocent.
                In his civilian identity he is Clark Kent, a mild-mannered reporter working for the Daily Planet in Metropolis.
                He is a founding member of the Justice League of America and a charter member of the Legion of Super-Heroes
                in the 30th Century.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/flash.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Flash</h4>
              <p class="card-text text-justify">Barry Allen is The Flash, the fastest man alive. Using his super-speed powers, he taps into the Speed Force
                and becomes a costumed crime-fighter. His position is a legacy in the Flash Family, successor to the original
                Jay Garrick and predecessor to Wally West. He is a founding member of the Justice League of America.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/hulk.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Hulk</h4>
              <p class="card-text text-justify">Robert Bruce Banner, M.D., Ph.D is a renowned scientist who was highly respected for all his work in the fields
                of Biochemistry, Nuclear Physics, and Gamma Radiation. Having been tasked by General Thaddeus Ross to find
                a way to recreate the Super Soldier Serum which had originated Captain America, Banner conducted an experiment
                with Gamma Radiation. However when an exposure to high levels of Gamma Radiation instead of Vita Radiation
                went awry, the mild-mannered scientist had found that when angered or provoked, he would then transform into
                the huge rage-fueled and nearly mindless green-skinned monster known as Hulk.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/thor.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Thor</h4>
              <p class="card-text text-justify">Thor Odinson is the current king of Asgard, a founding member of the Avengers, and the God of Thunder. When
                all his irresponsible behavior restarted a conflict between Asgard and Jotunheim which had threatened his
                homeland, Thor was then denied the right to become King and was then stripped of his power and banished by
                his father Odin onto the Earth. While exiled on Earth, Thor learned humility, found love in Jane Foster,
                and helped to save all his new friends from a destructive threat sent by his own jealous adoptive brother
                Loki, sacrificing his own life to save all of the innocents in the process. Due to his selfless act of sacrifice,
                Thor redeemed himself in his father's eyes and was granted his power once more which he then used to defeat
                Loki's schemes of genocide.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/wolverine.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Wolverine</h4>
              <p class="card-text text-justify">Wolverine (born James "Jimmy" Howlett, usually referred to as Logan) was a mutant born with retractable bone
                claws, enhanced physical parameters, and a powerful healing factor. Living for nearly two centuries, Logan's
                life was filled with blood, hatred, war, suffering, and betrayal.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/ciclope.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Cyclops</h4>
              <p class="card-text text-justify">Cyclops is a member of a subspecies of humans known as mutants, who are born with superhuman abilities. Cyclops
                can emit powerful beams of energy from his eyes. He cannot control the beams without the aid of special eyewear
                which he must wear at all times. He is typically considered the first of the X-Men, a team of mutant heroes
                who fight for peace and equality between mutants and humans, and one of the team's primary leaders.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="/assets/magneto.png" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Magneto</h4>
              <p class="card-text text-justify">Magneto (born Erik Magnus Lehnsherr) is a mutant, leader and founder of the Brotherhood of Mutants. He has
                the ability to manipulate create magnetic fields and control metal telekinetically. Magneto is one of the
                most infamous mutants, having a stand against humans due to him being a part of the Holocaust and how humans
                are known to hate and fear mutants. Similarly to Professor X, Magneto has a strong belief and formed a team
                of his own, the Brotherhood of Mutants, after he was a founding member of the X-Men with Professor X, having
                been good friends. Unlike Professor X, Magneto's team's belief and goal isn't to equally live with humans,
                but to rise above and rule them.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
